ipywidgets==8.1.5
torch>=2.6.0
transformers==4.50.0
bitsandbytes==0.45.5
accelerate==0.32.0
lm_eval==0.4.5
optimum==1.23.3
bigcode_eval @ git+https://github.com/bigcode-project/bigcode-evaluation-harness.git@0f3e95f0806e78a4f432056cdb1be93604a51d69
evaluate==0.4.3
matplotlib==3.9.0
ninja==1.11.1.3
parameterized==0.9.0
pytest==8.3.4
auto_gptq==0.7.1
