ipywidgets==8.1.5
torch==2.3.0
transformers==4.45.0
bitsandbytes==0.43.1
accelerate==0.30.1
lm_eval==0.4.3
optimum==1.21.2
bigcode_eval @ git+https://github.com/bigcode-project/bigcode-evaluation-harness.git@0f3e95f0806e78a4f432056cdb1be93604a51d69
evaluate==0.4.3
matplotlib==3.9.0
ninja==1.11.1.3
